*.swp
*.swo

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
allFiredEvents
scTopics

# Coverage directory used by tools like istanbul
coverage
coverage.json
coverageEnv

# node-waf configuration
.lock-wscript

# Dependency directory
node_modules

# Debug log from npm
npm-debug.log

# local env variables
.env

# truffle build directory
build/

# lol macs
.DS_Store/

yarn.lock
yarn-error.log
uploads/

# Adding this both in the local path and in the subpath in case someone post it by mistake
# google-credentials is used by Firebase Storage and Firebase Firestore (DB)
google-credentials.json
**/google-credentials.json